*,
::before,
::after {
}

html {
  font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 2000px) {
  img {
    width: 100%;
    padding: 5;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main__section--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__section--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__h1 {
    color: rgb(255, 140, 0);
    display: flex;
  }

  .section__h2 {
  }

  .main__button {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 140, 0);
    border-radius: 0px 20px 20px 20px;
    cursor: pointer;
    display: flex;
    padding: 5;
  }

  .section__list {
    list-style: none;
    display: flex;
    padding: 10;
    flex-direction: column;
  }

  .section__list {
    width: 15rem;
    height: 12rem;
  }
}
